h1 {
    margin-left : 400px
    
}
a:link{
    color:aqua;
}

.header *{
border:solid
}

.header{
    background-color: #00b5fd;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #00b5fd;
}

p,h2{
    text-align: center;
}
body{
    background-color: #d1e1f0
}

a:link{
    color: #abcd02;
}



.menu{
    margin-right : 30px;
}

.menu a{
    margin-left : 20px;
}


.item{
    position : relative;
}
.item p{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
     opacity :0;
}
.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
} 